*{
    margin: 0;
    padding: 0 ;
}
body{
    font-family: sans-serif;
}

/*navigation-bar*/
nav{
    height: 80px;
    background-color: #0F172B;
}

nav h1{
    position: absolute;
    /*border: 1px solid white;*/
    width: 300px;
    top: 25px;
    left: 10px;
    color: white;
    text-transform: uppercase;
}
nav ul{
    float: right;
    margin-right: 25px;
    list-style: none;
    /*border: 1px solid red;*/
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
    /*border: 1px solid red;*/
}
nav ul li a{
    position: relative;
    padding: 5px 0;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #EC2C45;
    transition:0.5s ease-in-out;
}

label #s1, label #s2{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}