*{
    margin: 0;
    padding: 0 ;
}
body{
    font-family: sans-serif;
}

/*navigation-bar*/
nav{
    height: 80px;
    background-color: #0F172B;
}

nav h1{
    position: absolute;
    /*border: 1px solid white;*/
    width: 300px;
    top: 15px;
    left: 10px;
    color: white;
    text-transform: uppercase;
}
nav ul{
    float: right;
    margin-right: 25px;
    list-style: none;
    /*border: 1px solid red;*/
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 15px;
    /*border: 1px solid red;*/
}
nav ul li a{
    position: relative;
    padding: 5px 0;
    color: white;
    font-size: 20px;
    text-decoration: none;
}
nav ul li a:hover{
    color: #EC2C45;
    transition:0.5s ease-in-out;
}

label #s1, label #s2{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu{
    display: none;
}

/*banner*/
.banner-area{
   background-image: url("img/bgg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}

.banner-text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-text h1{
    font-family: Arial, sans-serif;
    color: white;
    margin-top:-200px;
    font-size: 55px;
    text-align: center;
}

/*Responsive*/
@media (max-width: 750px) {
    /*nav-nar*/
    label #s1{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: darkgray;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: 0.5s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
        /*border: 1px solid #EC2C45;*/
    }
    nav ul li a{
        font-size: 16px;
    }
}

/*For Responsive State*/
#res-menu:checked~ul{
    left: 0;
}

#res-menu:checked~label #s1{
    display: none;
}


#res-menu:checked~label #s2{
    display: block;
}